/*全局样式表*/
html,body,#app{
    height:100%; /*占满屏幕*/
    margin: 0;
    padding: 0;  /*重置为0*/
    min-width: 1366px;/*添加最小宽度防止屏幕大小不够时将东西挤到下一行*/

}
.el-breadcrumb{
    margin-bottom: 15px;
}
.el-table{
    margin-top: 15px;
}
.el-pagination{
    margin-top: 15px;
}